* {
    padding: 0;
    margin: 0;
  }

body {
    background: url(trees-500x800.png); /* for mobile view */
    font-family: "Yomogi", cursive;
}

button {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: green;
    background-color: yellow;
}

.cardContainer{
        width: 490px;
        height: 490px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 1000px;
    }

.card{
    box-sizing: border-box;
}
.reset {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: red;
    background-color: yellow;
} 
