div {
    background-color: aqua;
    height: 100px;
    width: 100px;
    border:1px solid black;
}


body {
    background: url(trees-500x800.png); /* for mobile view */
    font-family: "Yomogi", cursive;
}

table {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

h1, h2 {
    text-align: center;
    font-family: "Yomogi", cursive;
    color:rgb(113, 101, 189);
    
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}



@media only screen and (min-device-width: 500px) {


body {
    background: url(trees-800x800.png);
    background-repeat: repeat-x;
    padding-top: 30px;
}

div {
    height: 100px;
    width: 100px;
    background: url(square-100x100.png);
    
}

  background-color: aqua;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

button {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: green;
    background-color: yellow;
}

.reset {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: red;
    background-color: yellow;
}