div {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

button {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: green;
    background-color: yellow;
}

.reset {
    border: 1px solid black;
    height: 50px;
    width: 122px;
    border-radius: 22px;
    color: red;
    background-color: yellow;
}